# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Visual Studio
.vs/
**/bin/
**/obj/
*.user

# Environment variables
.env
.env.local
.env.*.local

# Static web assets from ASP.NET
**/staticwebassets.build.json
**/staticwebassets.*.json
**/*.exe
**/*.pdb
**/*.cache

# .NET Publish output
**/publish/

# Ignore Movie Posters folder
# Ignore movie posters folder
**/Movie Posters/
.azure
infra/
