body {
    background: #007bff;
    background: linear-gradient(to right, #0062e6, #33aeff);
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google {
    color: white !important;
    background-color: #ea4335 !important;
  }
  
  .btn-facebook {
    color: white !important;
    background-color: #3b5998 !important;
  }
  
  .card-body {
    min-width: 400px;
  }
  
  .error {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }